$lightGray : #a1a9b0;
$darkGray : #353535;
$lightGreen : #3dc9b3;
$darkGreen : #309383;
$lightGraySectionBg : #f3f5f8;

$social__icon_background : #242830;

$section__heading : $darkGray;
$section__heading_border : #d2d7dd;
$section__heading_triangle : $darkGray;
$section__heading_triangle_light : white;

$navigation__item : $lightGreen;
$navigation__item_border_bottom : $darkGreen;
$navigation__item_border_top : #6be8d4;
$navigation__link : #fff;

$intro__heading : $lightGray;
$intro__heading_part : #353535;
$intro__phrase: $lightGray;
$intro__button_link : #fff;
$intro__button : $lightGreen;
$intro__button_border : $darkGreen;

$about__background : $lightGraySectionBg;

$reviews__background : $lightGraySectionBg;
$reviews__button_link : #fff;
$reviews__button : $lightGreen;
$reviews__button_border : $darkGreen;

$motto__quote : #fff;
$motto__button : $lightGreen;
$motto__button_border : $lightGreen;
$motto__button_text : #fff;

$articles__image_border : $lightGreen;
$articles__title_link : black;

$invitation__background : #242830;
$invitation__secondary : #fff;

$team__photo_border : $lightGreen;

$subscription__icon : #fff;
$subscription__heading : #fff;
$subscription__input_border : #fff;
$subscription__input_text : #fff;
$subscription__button : $lightGreen;
$subscription__button_text : #fff;
$subscription__button_border : $lightGreen;
$subscription__button_up : $lightGreen;
$subscription__button_up_border : $lightGreen;
$subscription__button_up_text : #fff;
