$lightGray : #a1a9b0;
$lightGreen : #3dc9b3;
$darkGreen : #309383;

$navigation__item : $lightGreen;
$navigation__item_border_bottom : $darkGreen;
$navigation__item_border_top : #6be8d4;
$navigation__link : #fff;

$intro__heading : $lightGray;
$intro__heading_part : #353535;
$intro__phrase: $lightGray;
$intro__button_link : #fff;
$intro__button : $lightGreen;
$intro__button_border : $darkGreen;
