//FOOTER SECTION

@import "variables";
@import "mixins";

.footer {
  padding: 2rem 0;
  background: $footer_background;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $footer__text;

  &__nav {
    list-style-type: none;
  }

  &__item {
    display: inline;
    padding: 0 1em;
    &:first-of-type{
      border-right: 1px solid $footer__item_border;
    }
    &:last-of-type{
      border-left: 1px solid $footer__item_border;
    }
  }

  &__link {
    color: $footer__link;
    text-decoration: none;
  }

  &__copyright {
    margin-top: 1.5em;
    text-align: center;
    line-height: 1.2em;
  }
}

@include screen('desktop'){
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;

    &__copyright {
      margin: 0;
      line-height: normal;
    }

    &__link:hover {
      color: lighten($footer__link, 10%);
    }
  }
}
