// INTRO / JUMBOTRON

@import "variables";
@import "mixins";

.intro {
  height: 100vh;
  background: url('../img/jumbotron.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__phrase {
    width: 80%;
    color: $intro__phrase;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    margin-top: 1.5em;
    @include screen('desktop'){
      width: 60%;
      font-weight: 100;
      letter-spacing: 2px;
    }
  }

  &__button {
    color: $intro__button_link;
    background: $intro__button;
    border-bottom: 2px solid $intro__button_border;
    border-radius: 5px;
    padding: 1.3em 3em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 4em;
    @include screen('desktop'){
      transition: all 0.2s ease-in-out;
      &:hover {
        background: darken($intro__button, 10%);
        border-color: darken($intro__button_border, 10%);
      }
    }
  }

  &__hamburger {
    position: absolute;
    top: 3%;
    right: 5%;
    @include screen('desktop'){
      position: fixed;
      right: 2%;
      z-index: 5;
    }
  }

  &__heading {
    color: $intro__heading;
    font-size: 3rem;
    font-weight: 100;
    &_part {
      color: $intro__heading_part;
    }
    @include screen('desktop') {
      text-transform: uppercase;
      letter-spacing: 15px;
      font-size: 4rem;
    }
  }
}
