// MOTTO SECTION

@import "variables";
@import "mixins";

.motto {
  background: url('../img/motto.jpg') center;
  background-size: cover;
  padding: 3em 0;

  &__quote {
    text-align: center;
    color: $motto__quote;
    line-height: 2em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    &::first-line {
      font-size: 1.5em;
    }
  }

  &__button {
    display: block;
    background: $motto__button;
    border: 1px solid $motto__button_border;
    border-radius: 50%;
    text-decoration: none;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: $motto__button_text;
    margin: 0 auto;
    margin-top: 1.5em;
    font-size: 1.5em;
    box-sizing: border-box;
    padding-top: 0.05em;
  }
}

@include screen('desktop') {
  .motto {
    padding: 4rem 0;
    &__quote {
      font-size: 1.4em;
      letter-spacing: 8px;
      &::first-line {
        font-size: 2em;
      }
    }
    &__button {
      margin-top: 1em;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background: darken($motto__button, 10%);
        border: 1px solid darken($motto__button_border, 10%);
      }
    }
  }
}
